<style>
* {
  box-sizing: border-box;
}

p {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
body {
color: #0B1708;
}


/*CONTACT INFO STYLE***************************************************/

#coln {
   flex: 33.33%;
  padding: 5px
}
#rown{
  display: flex;
}
#pic{
  max-width: 400px;
  width: 100%;
}

#textlikepic {
    max-width: 400px;
    width: 100%;
    text-align: center;
    background-color: #2C3A96; 
}
/*FORM STYLE**************************************************/

#row:after {
  content: "";
  display: table;
  clear: both;
}

#submit {
  background-color: #6A9518;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-align: center;
}

#submit:hover {
  background-color: #2C3A96;
}

#formarea {
  background-color: #609B91;

  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  width:60%;
  vertical-align: middle;
  justify-content: center;
  float:left;
  position: relative;
  z-index: -100;
  top: 20%;
  left: 20%;
  border-radius: 15%;

}


#text, select, textarea, #email, #name  {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


#col1 {
  margin-top: 6px;
  float: left;
  width: 25%;

}

#col2{
  margin-top: 6px;
  float: left;
  width: 75%;

}

#buttoflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*for phones, referenced W3schools.com for this */
@media screen and (max-width: 600px) {
  #col1, #col2, #submit {
    width: 100%;
    margin-top: 0;
  }
}
</style>
